openapi: 3.0.0
info:
  title: rkwst http
  version: 0.1.0
  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0.txt'
  description: RKWST http API for working with request bins
servers:
  - url: 'https://rkw.st/api/v1'
    description: RKWST v1 API
paths:
  /bin:
    post:
      summary: Create bin
      operationId: create-bin
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ID'
              examples:
                example-created-id:
                  value: 497f6eca-6276-4993-bfeb-53cbbbba6f08
      description: Create new request bin.
    parameters: []
  '/bins/{id}':
    get:
      summary: Get bin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bin'
              examples:
                example-get-bin:
                  value:
                    id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                    endpoint: ekd8.rwk.st
                    deadline: '2019-08-24T14:45:22Z'
                    requests:
                      - id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                        ip: 192.168.0.1
                        proto: http
                        timestamp: '2019-08-24T14:25:22Z'
                        method: POST
                        uri: /path?query=param
                        path: /path
                        headers:
                          Content-Type:
                            - application/x-www-form-urlencoded
                          User-Agent:
                            - curl/7.84.0
                        form:
                          query:
                            - param
                          form:
                            - param
                        body: <base64 of body>
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: get-bin
      description: Get bin info by its ID.
    parameters:
      - schema:
          $ref: '#/components/schemas/ID'
        name: id
        in: path
        required: true
        description: ID of bin
    put:
      summary: Modify bin
      operationId: modify-bin
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                example-modify-bin-error:
                  value: cannot extend the deadline further than 30mins from now
      description: Modify info about bin. Currently only the deadline field is writable in order to extend the bin lifetime.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Bin'
        description: Description of this bin with modified fields.
  '/bins/{id}/requests':
    parameters:
      - schema:
          $ref: '#/components/schemas/ID'
        name: id
        in: path
        required: true
        description: ID of bin
    get:
      summary: Get bin requests
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Request'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                example-get-bin-requests-error:
                  value: request with id specified in before doesn't exist in the bin
      operationId: get-bin-requests
      description: Paginated list of requests to specified bin. Requests are always returned sorted from newest to oldest.
      parameters:
        - schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
          in: query
          name: limit
          description: Maximum number of requests returned
        - schema:
            $ref: '#/components/schemas/ID'
          in: query
          name: before
          description: Exclusive with after. ID of request specifying the upper bound of requests to be returned.
        - schema:
            $ref: '#/components/schemas/ID'
          in: query
          name: after
          description: Exclusive with before. ID of request specifying the lower bound of requests to be returned.
components:
  schemas:
    Request:
      title: Request
      x-stoplight:
        id: 9njw8o5ri88cl
      type: object
      description: Info about a single request to a specific Bin.
      x-examples:
        example-request:
          id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
          ip: 192.168.0.1
          proto: http
          timestamp: '2019-08-24T14:15:22Z'
          method: POST
          uri: /path?a=1&a=2
          path: /path
          headers:
            Accept:
              - application/json
            Content-Type:
              - multipart/form-data
          form:
            a:
              - '1'
              - '2'
          files:
            attached-file:
              - filename: file.txt
                headers:
                  Content-Type:
                    - text/plain
                  Expires:
                    - '0'
                content: <base64 of file contents>
          body: <base64 of body>
      properties:
        id:
          $ref: '#/components/schemas/ID'
        binid:
          $ref: '#/components/schemas/ID'
        ip:
          type: string
          format: ipv4
          readOnly: true
        proto:
          type: string
          enum:
            - http
            - https
          readOnly: true
        timestamp:
          type: string
          format: date-time
          readOnly: true
        method:
          type: string
          readOnly: true
        uri:
          type: string
          format: uri
          readOnly: true
        headers:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          readOnly: true
        form:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          nullable: true
          readOnly: true
        files:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              properties:
                filename:
                  type: string
                headers:
                  type: object
                  additionalProperties:
                    type: array
                    items:
                      type: string
                content:
                  type: string
                  format: byte
          nullable: true
          readOnly: true
        body:
          type: string
          format: byte
          readOnly: true
    Bin:
      title: Bin
      x-stoplight:
        id: f6bswzsmm9o1i
      type: object
      description: 'Description of a single request bin, without the list of the requests contained inside.'
      properties:
        id:
          $ref: '#/components/schemas/ID'
        endpoint:
          type: string
          format: hostname
          description: 'Endpoint in the form "random hex".rkw.st; NB: not related to the bin id'
          readOnly: true
        created:
          type: string
          format: date-time
          readOnly: true
        last:
          type: string
          format: date-time
          description: Cached timestamp of last request made to the bin.
          nullable: true
          readOnly: true
        deadline:
          type: string
          format: date-time
        count:
          type: integer
          description: Cached total number of requests made to this bin.
          readOnly: true
    Error:
      type: string
      title: Error
      x-stoplight:
        id: n48wx3gw0repv
      description: Error message.
      example: error message
    ID:
      type: string
      title: ID
      x-stoplight:
        id: jxq057d7vgwlj
      description: Entity id. All ids are in the form of uuid's.
      format: uuid
      readOnly: true
